# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.env
*.venv

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Django / Flask
instance/
*.sqlite3
db.sqlite3
__pypackages__/

# PyCharm
.idea/

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
logs/
*.out
*.err

# MyPy type checking cache
.mypy_cache/

# Editor backups and swap files
*.swp
*.swo
*~

# Docker
docker-compose.override.yml

# Ignore local environment variables
.envrc
